.module84 {
  margin-top: 35px;
  left: 5px;
}
.module84 .col-md-4 {
  text-align: center;
}
.module84 .divider-inner {
  color: #7F7F7F;
  position: relative;
  display: inline-block;
}
.module84 .line-left {
  right: 100%;
  margin-right: 10px;
}
.module84 .divider-line {
  position: absolute;
  top: 50%;
  border-top: 1px solid;
  width: 90px;
}
.module84 .line-right {
  left: 100%;
  margin-left: 10px;
}
.module84 a {
  border: 2px groove #000;
  padding: 16px 30px;
  color: #000;
  font-size: 10px;
}
.module84 a:hover {
  color: #ffffff;
  background: #000;
  text-decoration: none;
}
.module84 p {
  padding-top: 44px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #595959;
}
