@media only screen and (max-width: 767px){
    .module83{
        margin: -6px -3px 0;
        
    }
}
.module83{
    
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
 img{
    margin-top: 25px;
    width: 107.5%;
    height: 323px;
    transform: translate(-9px);
    
}
}


